.panel-body{
    background: transparent;
}
body{
    background-image: url("images/headphone-wallpaper-HD1.jpg");
}
.navbar{
    border-radius: 0;
    background-color: beige;
    outline: beige;
}

.navbar-brand{
    font-family: "Satisfy", cursive;
}

.col-sm-12{
    color: darkred;
}

