body{
    background: black url("images/background1.jpg");
}

.navbar{
    border-radius: 0;
    background-color: beige;
    outline: beige;
}

.navbar-brand{
    font-family: "Satisfy", cursive;
}

.col-sm-12{
    font-family: "Satisfy", cursive;
    color: darkred;
}
